<div class="container-fluid sticky-top bg-white">
  <div class="row bg-mg text-white ">
    <div class="container">
      <div class="row">
        <!-- #TODO Fix facebook logo layout for mobile -->
        <div class="col">
          <a target="_blank" href="https://www.facebook.com/madonnagardens"><img class="img-fluid m-3"
              style="max-height:50px;min-height:25px;margin-right:10px;" src="/img/f_logo_RGB-White_100.png"
              alt="Facebook Icon" /></a>
          <a href="https://www.instagram.com/madonnagardens_seniorliving/" target="_blank"><img style="max-height:50px;margin-right:10px;"
              src="/img/instagram-logo-white.png" alt="Instagram Logo" /></a>
          <a href="https://www.yelp.com/biz/madonna-gardens-assisted-living-and-memory-care-salinas-3?osq=Assisted+Living+Facilities"
            target="_blank"><img style="max-height:50px;" src="/img/yelp-64.png" /></a>
        </div>
        <div class="col align-self-center">
          <p class="h5 text-right d-block align-middle m-2">Call Today for Move In Specials - <a class="text-white"
              href="/contact"><u>Call Now</u>!</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col">
          <!-- Fix Navbar for mobile -->
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img class="img-fluid" src="/img/madonna-gardens-logo.png"
                style="max-width:300px;" alt="Madonna Gardens Logo" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <ul class="navbar-nav mr-0">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="communityDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    The Community
                  </a>
                  <div class="dropdown-menu" aria-labelledby="communityDropdown">
                    <a class="dropdown-item" href="/about">About Us</a>
                    <a class="dropdown-item" href="/photos">Community Photo Gallery</a>
                    <a class="dropdown-item" href="/photos/activities">Activities Photo Gallery</a>
                    <a class="dropdown-item" href="/photos/dining">Dining Photo Gallery</a>
                    <a class="dropdown-item" href="/videos" target="_blank">Videos</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="lifestyleDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lifestyles</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/assisted-living">Assisted Living</a>
                    <a class="dropdown-item" href="/memory-care">Memory Care</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/activities">Events &amp; Activities</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="contactDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Contact</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/contact">Contact Us</a>
                    <a class="dropdown-item" href="https://spark.adobe.com/page/aU7YQrTumT3S0/"
                      target="_blank">E-Brochure</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>